@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
  padding: 0px;
  border: 0px;
  margin:0px;
}

body{
  background-image: url(back2.png);
}

a{
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Abel', sans-serif;
  color:#20639B;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

a:hover{
  color: #132f5c;
  font-weight: bold;
}

.in_link{
  text-decoration: none;
  font-weight: bolder;
}

.in_link:hover{
  color: #7acfd6;
}
h5{
  margin-top: 20px;
  font-size: 20px;
}

li{
  margin-left: 30px;
}

h1{
  font-weight: normal;
  margin-bottom: 25px;
}

button{
  background: none;
}

#name{
  font-size: 80px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #a9d0e6;
}

#short_bio{
  font-size: 20px;
  margin-right: 5px;
}

.projectname a{
  color:black;
  

} 

.projectname{
  color:black;
}

.projectname a:hover{
  color: #7285A5;

}

.navbar{
  font-weight: bold;
  font-size: 24px;
  background-color:white;
  background-repeat: none;
  min-width: 555px;
}

.nav_links{
  float: right;
  margin-right: 10px;
}

.backie{
  background-image: url(back2.png);
}

.intro{
  padding-top: 10%;
  display: flex;
  min-width: 600px;
  max-width: 1200px;
  margin: auto;
}

.headshot{
  border-radius: 50%;
  width: 34%;
  height: 34%;
}

.greeting{
  width: 65%;
  font-size: 45px;
}

.content{
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  max-width: 1200px;
}
.contentcalc h1{
  text-align: center;
}

.contentcalc{
  border-radius:20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: white;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#calculate{
  display: block;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 20px;
  color: #20639B;
  font-weight: bold;
  border:1px solid #20639B; 
}

hr{
  border-top: 2px solid black;
}

.calculator p{
  padding-top: 10px;
}

.image_center{
  display: block;
  margin: auto;
  width: 95%;
}
.sub{
  margin-top: 20px;
}

.projectname{
  font-size: 25px;
  color: pink;
}

.image_right{
  width: 40%;
  height: 100%;
}

.minisection{
  max-width:1000px;
  margin: auto;
}

.seventy{
  max-width: 55%;
}
.project{
  background-color: white;
  padding: 7px;
  border-radius: 20px;
  margin: 15px;
}
.projectcontent{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
}

/* RESUME PAGE */


.resume_content{
  padding-top: 60px;
  max-width:800px;
  margin: auto;
}
